[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
scikit-learn = "*"
click = "*"

[requires]
python_version = "3.7"
